:root { 
--blue_gray_50_ce:#f1f1f1ce; 
--deep_orange_50:#f1e7e7; 
--gray_50_01:#fcfbfb; 
--red_900:#be1a1a; 
--blue_gray_100_01:#cecece; 
--blue_gray_100_02:#dad2d2; 
--red_200:#da9191; 
--red_400:#ec4f4f; 
--red_100_02:#eccbcb; 
--gray_50:#fbfbfb; 
--red_100:#f5d7d7; 
--red_50:#f9eeee; 
--red_100_01:#edcbcb; 
--black_900:#000000; 
--blue_gray_900_01:#333333; 
--blue_gray_900:#2e2d2d; 
--gray_600:#6b6b6b; 
--gray_700:#5d5959; 
--gray_400:#c7bebe; 
--blue_gray_100:#d9d9d9; 
--blue_gray_100_ef:#d9d9d9ef; 
--gray_900:#191919; 
--red_50_01:#faeeee; 
--gray_300:#e7e4e4; 
--gray_300_01:#e5d4d4; 
--gray_100:#f5f5f5; 
--gray_50_c4:#fafafac4; 
--black_900_75:#00000075; 
--black_900_99:#00000099; 
--gray_400_01:#c2c2c2; 
--white_A700:#ffffff; 
--gray_700_01:#5f5e5e; 
}